<!DOCTYPE html>
</html>
<head>
    <title><%=title%></title>
    <link href="/../css/general.css" rel="stylesheet">
    <script type="text/javascript" src="/../buttonClick.js"></script>
</head>
<body class="page">
    <div class="page-header" ><h1><%=title%></h1></div>
