<%- include ../layouts/header.ejs %>
<div class="page-data">
    <form method="post" action="/admin/movies/insert">
        <table cellpadding="11">
            <tr>
                <td class="label">Movie Name</td>
                <td><input type="text" name="moviename" required /></td>
            </tr>
            <tr>
                <td class="label">Movie Duration</td>
                <td><input type="text" name="duration" required ></textarea></td>
            </tr>
            <tr>
                <td class="label">Movie Points</td>
                <td><input type="text" name="points" required /></td>
            </tr>
            <tr>
                <td class="label">Movie Type</td>
                <td><input type="text" name="movietype" required /></td>
            </tr>
            <tr>
                <td class="label">Movie Description</td>
                <td><textarea name="description" required cols="50" rows="8"></textarea></td>
             
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <button type="submit">Save</button>
                    <button type="button" onClick="cancel()">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<%- include ../layouts/footer.ejs %>
